/** THEME FONTS */
$linotte-heavy: 'Linotte-Heavy';
$linotte-bold: 'Linotte-Bold';
$linotte-semibold: 'Linotte-SemiBold';
$linotte-regular: 'Linotte-Regular';
$linotte-light: 'Linotte-Light';

/** THEME COLORS */

/** WHITES */
$pure-white: #ffffff;

/** GRAYS */
$lightest-gray: #f4fafa;
$ghost-gray: #f3fafa;
$mid-gray: #3d3d41;
$dark-gray: #28282c;
$darkest-gray: #1f1f22;
$pure-black: #000;

/** REDS */
$prime-red: #e61445;
$coral-red: #e86a6a;

/** GREENS */
$mint: #21b4ac;
